#button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    /* width: 100%; */
    border-radius: 10px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#button2 {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 32px;
}

#button3 {
    margin-top: 10%;
    margin-left: 35%;
    display: none;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 32px;
}

#div2 {
    align-items: center;
    text-align: center;
    align-content: center;
}

#div3 {
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 10%;
}

#div4 {
    align-items: center;
    text-align: center;
    align-content: center;
    margin-top: 10%;
}

